@charset "UTF-8";

.github:hover {
    opacity: 100%;
    transition: all 0.5s;
    transform: scale(1.1);
}

.linkedin:hover {
    opacity: 100%;
    transition: all 0.5s;
    transform: scale(1.1);
}

.email:hover {
    opacity: 100%;
    transition: all 0.5s;
    transform: scale(1.1);
}

.instagram:hover {
    opacity: 100%;
    transition: all 0.5s;
    transform: scale(1.1);
}

.twitter:hover {
    opacity: 100%;
    transition: all 0.5s;
    transform: scale(1.1);
}


.mensagem {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}