@charset "UTF-8";

/*
.main-foto:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}
*/

.btn-link:hover {
    opacity: 100%;
    transition: all 0.5s;
    transform: scale(1.1);
}

.mensagem {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

/*
typing animation gerada no JavaScript
*/