@charset "UTF-8";

@media (max-width: 650px) {
    
    body {
        background: url('imgs/mobile-img-background.jpg');
    }

    #linha_1 {
        margin-top: 6px;
        padding-left: 10%;
        display: block;
        text-align: center;
    }

    #linha_2 {
        padding-top: 0px;
        padding-left: 10%;
        display: block;
        text-align: center;
    }

}