@charset "UTF-8";

body {

    font-family: "Open Sans", sans-serif;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('css/imgs/background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.mensagem {
    text-align: center;
    font-size: 18px;
    padding: 1%;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.btn-link li {
    margin: 0 1%;
}


@media screen and (max-width: 768px) {
    .btn-link {
        flex-direction: column;
        text-align: center;
    }

    .btn-link li {
        margin: 10px 0;
    }
}