@charset "UTF-8";

@font-face {
    font-family: 'AbeeZee';
    src: url('fonts/ABeeZee-Regular.otf') format('truetype');
}

* {
    font-family: 'AbeeZee', Arial;
    outline: none;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.child {
    width: 95%;
    position: relative;
    margin-top: 5%;
    /* Espaço entre os elementos */
}

body {
    background: url('imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    padding: 10px;
    font-size: 30px;
    font-style: bold;
    color: #000000;
}

h2 {
    font-size: 20px;
    color: #000000;
}


.titulo {
    text-align: center;
}

.main-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mensagem {
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

#linha_1 {
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-link {
    opacity: 70%;
    cursor: pointer;

}

.github {
    margin-right: 43px;
}

.linkedin {
    margin-right: 43px;
}

.e-mail {
    margin-right: 43px;
}

#linha_2 {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram {
    margin-right: 43px;
}

.twitter {
    margin-right: 43px;
}