@charset "UTF-8";

@font-face {
    font-family: "Pacificio";
    src: url('fonts/Pacifico/Pacifico-Regular.ttf');

}

@font-face {
    font-family: "OpenSans";
    src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');

}

:root {
    --backgrond-page: #F5F5F7;
    --section-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    border: none;

}

h1 {
    font-family: "Pacificio";
}

p {
    font-family: "OpenSans";
}

.my-btn {
    border: none;
    height: 50px;
    width: 100px;
    padding: 9px 19px;
    border-radius: 7px;

    color: #F5F5F7;
    font-size: 15px;
    font-weight: bold;
    background-color: #000000;
}

.my-btn:hover {
    border-width: 2px;
    border-style: dashed;
    
    color: #000000;
    background-color: #F5F5F7;
    border-color: #ffc300;
}

section {
    /*border-color: black;
    border-style: dashed; */

    width: 95%;
    height: 120%;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--section-color);
}

#my_main {

    border-color: red;
    border-style: dashed;
    padding: 15px;

    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.my-section {}

.my-div {
    border-color: blue;
    border-style: dashed;
    padding: 15px;

    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#my_img {
    border-color: blue;
    border-style: groove;
    border-bottom: 10px;
}

#texto_titulo {
    border-color: red;
    border-style: dashed;
    padding: 15px;
}

#texto_paragrafo {
    border-color: blue;
    border-style: dashed;
    padding: 15px;
}