@charset "UTF-8";

/*Importando fontes externas*/
@font-face {
  font-family: "Pacificio";
  src: url('fonts/Pacifico/Pacifico-Regular.ttf');

}

@font-face {
  font-family: "OpenSans";
  src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');

}

/*------------------------------------------------------*/

/*Declarando variáveis*/
:root {
  --backgrondColor: #F5F5F7;
  --sectionColor: #FFFFFF;
  --textColor: #000000;
  --lightFillArthur: #FFBD08;
  --darkFillArthur: #AA21FF;
  --roundedEdges: 15px;
  --timeTransition: 0.5s;
}

/*------------------------------------------------------*/

/*Estilização geral das tags*/
body {
  background-color: var(--backgrondColor);
  overflow-x: hidden;
}

main {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 95%;
  height: 120%;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: var(--sectionColor);

}

p {
  font-family: "OpenSans";

}

ul {
  list-style-type: none;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*------------------------------------------------------*/

/*Componentes da priemeira section*/
#img-perfil {
  max-width: 45%;
  max-height: 45%;

  border-width: 10px;
  border-style: solid;
  border-radius: 100%;
  border-color: var(--lightFillArthur);
}

#title_my_name {
  font-family: 'Pacificio';
  font-size: 100px;

  margin: 0;
  padding: 0;
}

/*------------------------------------------------------*/

/*Componentes da segunda section*/
.container-title-about {
  display: flex;
  align-items: center;

  height: 45px;
}

#yellow_ball {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 20px;
  background-color: var(--lightFillArthur);
}

#title_about {
  font-size: 40px;
  text-align: left;
  font-family: "Pacificio";

}

.container-bout-text {
  min-width: 90%;
  margin: 30px;
  font-size: 150%;
  text-align: justify;
}

/*Componentes da terceira section*/
.btn-contact-me {
  border: none;
  padding: 10px;
  background-color: transparent;
}

#container-grid-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 350px;

}

.grid-list {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 190px);
  padding: 0;
}

.icon-social-net {
  align-items: baseline;
  height: 75%;
  width: 75%;
}

/*------------------------------------------------------*/

/*Componentes do footer*/
.btn-cv {
  border: none;
  height: 50px;
  width: 100%;
  padding: 9px 19px;
  border-radius: 7px;

  color: #F5F5F7;
  font-size: 15px;
  font-weight: bold;
  background-color: #000000;
}

/*------------------------------------------------------*/