@charset "UTF-8";

.icon-social-net:hover {
    height: 85%;
    width: 85%;
    transition: var(--time-transition);
}

.btn-cv:hover {
    color: var(--text-color);
    background-color: var(--section-color);
    border-color: var(--yewllow-arthur);
    border-style: dashed;
    border-width: 2px;
    transition: background-color var(--time-transition);
}