@charset "UTF-8";

.icon-social-net:hover {
    height: 85%;
    width: 85%;
    transition: var(--timeTransition);
}

.btn-cv:hover {
    color: var(--textColor);
    background-color: var(--sectionColor);
    border-color: var(--lightFillArthur);
    border-style: dashed;
    border-width: 2px;
    transition: background-color var(--timeTransition);
}