@media (max-width: 600px) {
    .dropdown-list {
        position: relative;
    }

    header {
        font-size: large;
    
        width: 95vw;
        height: 50px;
        margin: 20px;
    }

    .dropdown-links {
        display: none;
        top: 110%;

        min-width: 95vw;
        position: absolute;
        border-radius: 10px;

        /* background-color: red; */

        transform: translateX(-97%);
    }

    a {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}