* {
    border: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

#project_card {
    /*
    max-width: 95vw;
    min-height: 95vh;
    */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    /* border: red solid 1px; */
}

@media (max-width: 600px) {
    #project_card {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.card-container {
    max-width: 70vh;
    max-height: 16vh;
    display: flex;
    margin: 5px;
    align-items: center;
    /* border: blue dashed 1px; */
}

.cards-projects {
    width: 100%;
    height: 100%;

    display: flex;
    border-radius: 10px;
    background-color: white;
}

.icon-container {
    min-width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    background-color: blue;
}

#icon_project {
    width: 100%;
}

.text-container {
    margin: 20px;
    overflow: hidden;
}

.text-content {
}

.container-title {
    display: flex;
    justify-content: space-between;
}

#icon_link {
    width: 10px;
}

h2 {
    margin-bottom: 10px;
    font-size: x-large;
}

p {
    text-align: justify;
    font-size: small;
}