/*https://www.freecodecamp.org/portuguese/news/como-centralizar-tudo-com-css*/

:root {
  --backgrond-page: #F5F5F7;
  --section-color: #FFFFFF;
  --text-color: #000000;
  --yewllow-arthur: #FFBD08;
  --blue-arthur: #174AE4;
  --rounded-edges: 15px;
}

.img-perfil {
  width: 40%;
  height: 40%;
}

body {
  background-color: var(--backgrond-page);
}

main {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 95%;
  /*height: 85vh;*/
  height: 100vh;

  max-height: 30%;
  margin-bottom: 20px;
  background-color: var(--section-color);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}


.btn-cv {

  border: none;
  height: 50px;
  width: 100%;
  padding: 9px 19px;
  border-radius: 7px;
  
  color: #F5F5F7;
  font-size: 15px;
  font-weight: bold;
  background-color: #000000;
}

.btn-cv:hover {
  color: var(--text-color);
  background-color: var(--section-color);
  border-color: #FFBD08;
  border-style: dashed;
  transition: background-color 1s, color 1s;
}