/*https://www.freecodecamp.org/portuguese/news/como-centralizar-tudo-com-css*/

:root {
  --backgrond-page: #F5F5F7;
  --section-color: #FFFFFF;
  --text-color: #000000;
  --yewllow-arthur: #FFBD08;
  --blue-arthur: #174AE4;
  --rounded-edges: 15px;
}

.img-perfil {
  width: 35%;
  height: 35%;
}

body {
  background-color: var(--backgrond-page);
}

main {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 95%;
  /*height: 85vh;*/
  height: 100vh;

  max-height: 30%;
  margin-bottom: 20px;
  background-color: var(--section-color);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}